@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
.landingPageContainer{
    background-color: black;
    background-image: url('../../assets/bgHome.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100vh;
}
.title{
    position: absolute;
    margin-top: 10%;
    font-size: 4rem;
    bottom: 30%;
    left: 3%;
    color: beige;
}
.title > span{
    font-family: 'Amatic SC', cursive;
    color: wheat;
    font-size: 5rem;
}

/* --------Bounce Arrow ------------ */
.bounceArrow
{
  position: relative;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  bottom: -90vh;
  color: white;
  font-size: 3rem;
  cursor: pointer;
}

.bounceArrow {
  animation: bounce 2s infinite;
  
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/* ----------- NewArrivals Section------------ */
.homePage > div{
    text-align: center;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(1, 9, 26, 0.959) 99%);
}

.container {
  position: relative;
  background:linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(1, 9, 26, 0.959) 99%);
  height: 50vh;
}

.sloganSection p{
    padding-top: 3rem;
    font-family: 'Cinzel', serif;
    color: wheat;
}
.sloganSection h3{
    font-size: 1.5rem;
    text-transform: uppercase;
}
.newArrivals{
    color: aliceblue;
}
.modelsJean{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    cursor: pointer;
    
  }
  .modelsJean div{
  z-index: 10;

}
.modelsJean img{
    width: 350px;
    margin: 10px;
    margin-top: 30px;
    border-radius: 0px 40px 0 40px;
}
/* ----------- Categories Section------------ */
.categoriesContainer{
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgCategory{
  width: 280px;
  border-radius: 5px;
}
.firstImage{
  flex-direction: column;
  display: flex;
  z-index: 10;
}
.firstImage h2{
  font-family: 'Cinzel', serif;
  font-size: 2rem;
  color: wheat;
}
.firstImage img{
  margin-top: 100px;
}
#secondImage{
  margin-bottom: 150px;
  z-index: 10;
}
.categoryList{
  width: 600px; 
  z-index: 10;
}
.categoryList > li{
  border-bottom: 2px solid white;
  font-size: 1.5rem;
  text-align: start;
  padding: 3px 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  /* margin-left: 5px; */
  text-decoration: none;
  list-style: none;
  transition: 0.5s;
  color: white;
  cursor: pointer;
}
.categoryList > li:hover{
  border-bottom: 2px solid rgb(255, 190, 69);
  color: rgb(255, 190, 69);
}
#category > div{
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(1, 9, 26, 0.959) 99%);
  /* background: white; */
}

/* .wave {
  position: relative;
  height: 81px;
  width: 100%;
  background: #2c3e50;
  bottom: 0;
}

.wave::before, .wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave::before {
  width: 55%;
  height: 90%;
  background-color: #fff;
  right: -1.5%;
  top: 60%;
}
.wave::after {
  width: 55%;
  height: 90%;
  background-color: rgba(1, 9, 26, 0.959);
  left: -1.5%;
  top: 40%;
} */