.header{
    display: grid;
    grid-template-columns: 90% auto;
    position: sticky;
    position: absolute;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.524);
    z-index: 10;

}
.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Link{
    text-decoration: none;
}
.navBar li{
    list-style: none;
    text-decoration: none;
    font-weight: 600;
    font-size: larger;
    color: white;
    padding: 10px;
    text-decoration: none;
}
.navBar li:hover{
    color: wheat;
}
.submenu{
    margin: 0;
    padding: 0;
}
.submenuDeploy{
    display: none;
    left: 0;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(4px);
}
.navBar .submenu:hover .submenuDeploy{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.22);
    padding: 0;
}
.submenuDeploy .Link > li:hover{
background-color: rgba(62, 62, 62, 0.312);

}

/* ------- Cart ----- */
.cartIcon{
    width: 27px;
    cursor: pointer;
}
.modalBg{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.457);
    height: 100vh;
}
.modalCart{
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    width: 300px;
    height: 500px;
}
.cartItemContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    justify-items: center;
    align-items: center;
    padding: 3px;
}
.cartItemContainer > img {
    width: 50px;
}
.removeItem{
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
}
.removeItem i{
    font-size: 16px;
}