@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');

.header{
    display: flex;
    /* grid-template-columns: auto 1fr auto; */
    justify-content: space-between;
    position: sticky;
    position: absolute;
    align-items: center;
    padding: 3px 7px;
    width: 99%;
    /* background-color: rgba(0, 0, 0, 0.524); */
    z-index: 10;
    /* border: 2px solid red; */
}
.logo{
    margin-top: 5px;
    padding: 3px 5px;
    border: 1px solid black;
    font-size: 1.5rem;
    /* border: 2px solid red; */
}
.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Link{
    text-decoration: none;
}
.navBar li{
    list-style: none;
    text-decoration: none;
    font-size: larger;
    color: black;
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
    font-weight: 900;
    text-decoration: none;
}
.navBar li:hover{
    color: wheat;
}
.submenu{
    margin: 0;
    padding: 0;
}
.submenuDeploy{
    display: none;
    left: 0;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(4px);
}
.navBar .submenu:hover .submenuDeploy{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.22);
    padding: 0;
}
.submenuDeploy .Link > li:hover{
background-color: rgba(62, 62, 62, 0.312);

}

/* ------- Cart ----- */
.cartIcon{
    margin-left: 5px;
    width: 27px;
    cursor: pointer;
}
.modalBg{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.457);
    height: 100vh;
}
.modalCart{
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    width: 300px;
    height: 500px;
}
.cartItemContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    justify-items: center;
    align-items: center;
    padding: 3px;
}
.cartItemContainer > img {
    width: 50px;
}
.removeItem{
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
}
.removeItem i{
    font-size: 16px;
}